@font-face {src: url(../fuentes/blueberrydays.otf); font-weight: 500;  font-family: miestilo;
}
@font-face {src: url(../fuentes/blueberrydays.ttf); font-weight: 900; font-family: mitexto;
}
body{background-color:beige;}
h1{font-family: miestilo, Georgia, 'Times New Roman', Times, serif; font-weight: 500; color: black;
}
h2{font-family: mitexto; font-weight: 900; color: black;
}
li{display: inline; 
}
a:hover{color: brown;}
.contenedorpadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid orange;
    background-color: antiquewhite;
}
.hijo{
    margin: 20px; 
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: pink;
}

@media screen { /* tiene que ver con el viewport o movilefiles para la vista */
    
}

/* @es una funcion una regla que se ejecuta cuando lo llamamos */