@font-face {
    font-family: miestilo;
    src: url(./fuentes/blueberrydays.otf); font-weight: 500;
}
@font-face {
    font-family: mitexto;
    src: url(./fuentes/blueberrydays.ttf); font-weight: 900;
}
h1{font-family: miestilo, Georgia, 'Times New Roman', Times, serif; font-weight: 500;
}
h2{
    font-family: mitexto; font-weight: 900;
}

@media screen { /* tiene que ver con el viewport o movilefiles para la vista */
    
}

/* @es una funcion una regla que se ejecuta cuando lo llamamos */